{# empty Twig template #}

{% extends 'templates/app.html' %}

{% block content %}
            <br><br><br> <br><br><br>

        
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
            <div class="panel-body">
              <h2>Change Password </h2>
            </div>
            <div class="panel-body">
              <form action="{{path_for('auth.password.change')}}" method="post" autocomplete="off">
                <div class="form-group {{  errors.password_old ? 'has-error':''}}">
                  <label for="password_old">Old Password</label>
                  <input type="password" class="form-control" id="password_old" placeholder="Old Password" name="password_old" >
                   {% if errors.password_old %}
                  <span class="help-block">{{errors.password_old | first}}</span>
                  {% endif %}
                </div>
                <div class="form-group {{  errors.password_new ? 'has-error':''}}">
                  <label for="password_new">New Password</label>
                  <input type="password" class="form-control" id="password_new" placeholder="New Password" name="password_new" >
                   {% if errors.password_new %}
                  <span class="help-block">{{errors.password_new | first}}</span>
                  {% endif %}
                </div>
                {{ csrf.field | raw }}
                <button type="submit" class="btn btn-default">Sign In</button>
                 
              </form>
            </div>
        </div>
        </div>
    </div>

{% endblock %}